name: KernelBench Perf

on:
  workflow_dispatch:
    inputs:
      RUN_CPU:
        description: "Run on CPU"
        type: boolean
        default: false
      RUN_XPU_TORCH:
        description: "Run on Intel GPU (PyTorch eager)"
        type: boolean
        default: true
      RUN_XPU_TORCH_COMPILE:
        description: "Run on Intel GPU (PyTorch compile)"
        type: boolean
        default: false
      RUN_XPU_TRITON:
        description: "Run on Intel GPU (Triton)"
        type: boolean
        default: false

env:
  NPROCS_LIMIT_LINK: 8
  SRUN: ${HOME}/srun.sh

jobs:
  CPU:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'workflow_dispatch' && inputs.RUN_CPU)

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Setup project
        run: |
          git submodule update --init
          uv sync --extra cpu

      - name: Run KernelBench (PyTorch)
        run: uv run ${{ github.workspace }}/infra/scripts/run_kernel_bench.py --bench --gflops

  XPU-PyTorch:
    runs-on: pcl-tiergarten
    if: |
      (github.event_name == 'workflow_dispatch' && inputs.RUN_XPU_TORCH)

    steps:
      - uses: actions/checkout@v5

      - name: Intel Arc B580
        run: "${{ env.SRUN }} --partition=b580 --time=0:15:00 -- \
            '${{ github.workspace }}/infra/scripts/ci-xpu-run-kernel-bench.sh -b torch'"

  XPU-PyTorch-Compile:
    runs-on: pcl-tiergarten
    if: |
      (github.event_name == 'workflow_dispatch' && inputs.RUN_XPU_TORCH_COMPILE)

    steps:
      - uses: actions/checkout@v5

      - name: Intel Arc B580
        run: "${{ env.SRUN }} --partition=b580 --time=0:15:00 -- \
            '${{ github.workspace }}/infra/scripts/ci-xpu-run-kernel-bench.sh -b torch-compile'"

  XPU-Triton:
    runs-on: pcl-tiergarten
    if: |
      (github.event_name == 'workflow_dispatch' && inputs.RUN_XPU_TRITON)

    steps:
      - uses: actions/checkout@v5

      - name: Intel Arc B580
        run: "${{ env.SRUN }} --partition=b580 --time=0:15:00 -- \
            '${{ github.workspace }}/infra/scripts/ci-xpu-run-kernel-bench.sh -b triton'"
